@charset "UTF-8";

body, html {
	height: 100%;
	margin: 0;
	padding: 0px 40px;
}

header {
	height: 24.5%;
	width: 100%;
	background-color: white;
	border-bottom: thin dashed #d3d3d3;
	margin: 0 -140px;
	padding: 0px 140px;
}

a:link, a:visited, a:hover, a:active {
	font-size: 17px;
	color: #454545;
	text-decoration: none;
}

.img {
 	max-height: 250px;
	width: auto;
}

.font {
	font-family: "Helvetica", "Arial", sans-serif;
	color: #454545;
}

.title {
	font-size: 30px;
	text-shadow: 2px 2px 8px gray;
	padding: 15px 0px;

}

.subtitle {
	font-size: 14px;
}

.bookTitle {
	font-size: 30px;
	margin-bottom: 5px;
}

.author {
	font-size: 20px;
	font-style: italic;
	margin-bottom: 10px;
}

.information {
	font-size: 15px;
	margin-top: 20px;
}

.searchBar {
	height: 30px;
	width: 70%;
	font-family: Helvetica;
	font-size: 12px;
	border-radius: 3px;
	float: left;
	display: inline-block;
}

.buttonContainer {
	width: 50%;
	padding: 3px 0px;
	float: left;
	display: inline-block;
}

/* source: https://simplestepscode.com/css-glass-button-tutorial/ */
.gradient {
	background-color: #d3d3d3;
	background-image: linear-gradient(#d3d3d3, #a9a9a9);
	height: 15px;
	border-radius: 3px;
	padding: 7.5px 20px;
	float: left;
	display: inline-block;
	position: relative;
}

.headerContainer1 {
	height: 100%;
	width: 25%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	display: inline-block;
}

.headerContainer2 {
	height: 100%;
	width: 75%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	display: inline-block;
}

.headerContainer3 {
	height: 100%;
	width: 45%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	display: inline-block;
}

.headerContainer4 {
	height: 100%;
	width: 10%;
	padding-top: 8.5%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	display: inline-block;
}

.detailContainer {
	height: 500px;
	border-bottom: thin dashed #d3d3d3;
	padding: 0px 20px;
}

.detailContainer1 {
	height: 100%;
	width: 40%;
	padding: 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	display: inline-block;
}

.detailContainer2 {
	height: 100%;
	width: 60%;
	padding: 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	display: inline-block;
}

/* source: https://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css */
.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: gold;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100; }

.button {
	height: 30px;
	margin-top: 10px;
}