@charset "UTF-8";
 

body, html {
    height: 100%;
    margin: 0;
    padding: 0px 40px;
}

header {
	height: 24.5%;
	width: 100%;
	background-color: white;
	border-bottom: thin solid #d3d3d3;
	margin: 0 -140px;
	padding: 0px 140px;
}
a:link, a:visited, a:hover, a:active {
	font-size: 17px;
	color: #454545;
	text-decoration: none;
}

.font {
	font-family: "Helvetica", "Arial", sans-serif;
	color: #454545;
}

.title {
	font-size: 50px;
	text-shadow: 0px 1px 8px #a9a9a9;
}

.title2 {
	font-size: 15px;
	font-color: #797979;
	text-shadow: 0px 1px 8px #c0c0c0;
	margin-top: 10px;
	margin-left: 5px;
}

.headerContainer1 {
	height: 100%;
	width: 15%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	display: inline-block;
	padding-top: 2%;
	text-align: center;
}

.headerContainer2 {
	height: 100%;
	width: 65%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	display: inline-block;
	padding: 60px 0px;
}

.headerContainer3 {
	height: 100%;
	width: 20%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	display: inline-block;
	padding: 80px 0px;
}
.property {
	max-height: 300px;
	min-height: 0px;
	height: auto;
	width: 400px;
	padding: 20px;
}
p {
	font-size: 20px;
}
.fav {
    font-size: 15px;
    height: 30px;
    margin-top: 0px;
    /* height: 30px;
    background-color: #A9A9A9;
    color: white; */
}
